extends layout

block content 
	br
	h2 Data Status
	p cat1: #{dataCount.cat1}
	p cat2: #{dataCount.cat2}
	p course: #{dataCount.course}
	p hashtag: #{dataCount.hashtag}
	p course_hashtag: #{dataCount.course_hashtag}