extends layout

block content 
	br
	h2 Data Status
	p category1: #{dataCount.category1}
	p category2: #{dataCount.category2}
	p course: #{dataCount.course}
	p course_hashtag: #{dataCount.course_hashtag}
	p hashtag: #{dataCount.hashtag}
	p lecture: #{dataCount.lecture}